{% extends "layout.html" %}

{% block title %} 
      POSTS

{% endblock %}

{% block content %}
   <section>
    <h1>Posts</h1>

    {% comment %} adding a for loop {% endcomment %}
    {% for post in posts %}
    
    <article class="post">
      <h2>
          {% comment %} <a href=" {% url "posts:page" slug=post.slug %}"> {% endcomment %}
            {{ post.title }}


          </a>
      </h2>

      <p>
        {{post.date}}
      </p>
      <p>
        {{post.body}}
      </p>

    </article>
    
    {% endfor %}
   </section>
    
{% endblock  %}












